:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --primary-color: #fd3c23;
    --secondary-color: #e5f92d; 
    --light-gray-color: #f3f3f3;
    --dark-gray-color: #2d2d2d; 
    --green-color: #2dca4f;
  }